@import "./color-variables";
@import "https://fonts.googleapis.com/css?family=Fahkwang|PT+Sans";

$base-font-size: 18pt !default;
$num-of-grid-cols: 12 !default;
$grid-margin: 1.6% !default;

// (min-width, max-width)
$breakpoints: (
    xs: (null, null),
    s: (768px, null),
    m: (992px, null),
    l: (1200px, null)
) !default;


$header-font-family: "Fahkwang", sans-serif  !default;
$body-font-family: "PT Sans", sans-serif !default;



