@import "./color-variables";

$base-font-size: 18pt !default;
$num-of-grid-cols: 12 !default;
$grid-margin: 1.6% !default;

// (min-width, max-width)
$breakpoints: (
    xs: (null, null),
    s: (768px, null),
    m: (992px, null),
    l: (1200px, null)
) !default;

$color-primary: color("blue", "primary") !default;
$color-secondary: color("orange", "accent-1") !default;
$color-tertiary: color("green", "accent-3") !default;




